.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}
.sidebar {
	min-width: 20%;
	max-width: 20%;
	min-height: 100vh;
	background: rgb(255, 0, 151);
	background: linear-gradient(
		324deg,
		rgba(255, 0, 151, 1) 0%,
		rgba(69, 103, 252, 1) 100%
	);
}
a.biru,
.biru {
	color: white;
	background-color: rgba(69, 103, 252, 1);
}
a.merah,
.merah {
	background-color: rgba(255, 0, 151, 1);
	color: white;
}
.btn:hover {
	color: white !important;
}
nav .sidebar-header {
	padding: 10px;
	text-align: center;
	background: rgba(0, 0, 0, 0.2);
}
nav ul.component li {
	padding: 12px 40px 12px 40px;
	background: transparent;
	transition: 0.3s;
	margin-bottom: 1px;
}
nav ul.component li a {
	color: white;
	transition: 0.3s;
}
nav ul.component li a span {
	margin-right: 12px;
}
nav ul.component li:hover {
	background: rgba(0, 0, 0, 0.1);
}
nav ul.component li:hover a {
	color: white;
	text-decoration: none;
}
.side-title {
	text-decoration: none;
}
.side-title:hover {
	text-decoration: none;
}
#content .content-title::after {
	content: "";
	display: block;
	width: 80px;
	padding: 3px;
	border-bottom: 3px solid rgb(7, 164, 255);
}
.wrapper #content {
	padding-left: 270px;
}

@media (max-width: 991.98px) {
	#sidebar {
		display: none;
	}
	.wrapper {
		display: block;
	}
	.wrapper #content {
		padding-left: 0px;
	}
}
@media (max-width: 768px) {
	#sidebar {
		display: none;
	}
	.wrapper #content {
		padding-left: 0px;
	}
}
@media (max-width: 576px) {
	#sidebar {
		display: none;
	}
	.wrapper #content {
		padding-left: 0px;
	}
}
